h1 {
    color: rgba(255, 0, 0, 0.733);
   }

   /* *{
       border: solid;
   }
   */
   .header1{
       background-color: chartreuse;
       display:flex;
       justify-content: space-between;
   }

   .grid{
       display: flex;
       justify-content: space-between;
       flex-wrap: wrap;
   }
   .footer{
       display: flex;
       justify-content:flex-end;
   }
   p, h2{
     text-align: center;
     
   }